################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/chatbot-api-master/obj
/chatbot-api-business-layer/obj
/.vs/
/chatbot-api-data-layer/obj
/chatbot-api-master/bin/
